{% extends "base.html" %}
{% block content %}
	<h1>Contact Me</h1>

	{% if success %}
		<p>Thank you. We will get back shortly</p>
	{% else %}
	
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class="flash">
	{% for message in form.name.errors %}
	    <li>{{ message }}</li>
	{% endfor %}

	{% for message in form.email.errors %}
	    <li> {{message}} </li>
	{% endfor %}

	{% for message in form.subject.errors %}
	    <li>{{ message }}</li>
	{% endfor %}

	{% for message in form.message.errors %}
	    <li>{{ message }}</li>
	{% endfor %}
	    
	</ul>
	{% endif %}
	{% endwith %}

	<form action="{{url_for('contact')}}" method=post>
		{{form.hidden_tag()}}

		{{form.name.label}}
		{{form.name}}

		{{form.email.label}}
		{{form.email}}

		{{form.subject.label}}
		{{form.subject}}

		{{form.message.label}}
		{{form.message}}

		{{form.submit}}

	</form>
	
{% endif %}
{% endblock %}